# Entorno
NODE_ENV=development

# Server
PORT=3000

# Base de datos (Supabase)
SUPABASE_DATABASE_URL=https://qfopnsyxyvjevsfqykeq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmb3Buc3l4eXZqZXZzZnF5a2VxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzgzMzg3NiwiZXhwIjoyMDU5NDA5ODc2fQ.Pa6ybxGccBPMMdgXrKRMrEhzFF2cVUTvjAd52YXhJ3k
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmb3Buc3l4eXZqZXZzZnF5a2VxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4MzM4NzYsImV4cCI6MjA1OTQwOTg3Nn0.KQTIKof9Hdu722VIdo12yoEdognYXmgmLAjbL_QTBT0
SUPABASE_JWT_SECRET=KBYabyLfBaaAiSlP6boaiTXQih+vv3TTVgWFbrvoMOlqswc1PtgQiIY/Fyfd/zAl02ZBmCCRpnAg4Yj9JQQiiQ==
SUPABASE_DATABASE_PASSWORD=UPKQhIn50QYeku1r

# OpenAI
OPENAI_API_KEY=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

# Mistral AI
MISTRAL_API_KEY=XpTaElTZZCcsSI8VlFBBhLNwN7xrMoAx

# WhatsApp Business API
WHATSAPP_API_KEY=3098bc4b0f7333deb4d1d8f8a913d4aa


WHATSAPP_API_VERSION=v18.0
WHATSAPP_PHONE_NUMBER_ID=555552994317018
WHATSAPP_BUSINESS_ACCOUNT_ID=692191146631862
WHATSAPP_ACCESS_TOKEN=EAAJ0HcmBBwQBO7qbnWDA4zJmJZB5hp0145xT29QVOZCOmBUDjcTQozpZAGWpL4ZApdaJx16Gp4YauK0YfPVKynUrvOJl527Jxh29hSdRCtNcTaRvT4JY2xzONxCnJVkxCEWeAThWweT3cXH5vbCc6J8F7XirAzOEEYtE03cQCIS2ZBPQBbll8bz8JmMFqZCgqZBUQZDZD
WHATSAPP_WEBHOOK_VERIFY_TOKEN=b5258e3e5e821e5fc959df4f902f46005a6d237635d08fcbdc7223db725f7df0
WHATSAPP_API_URL=https://graph.facebook.com

# Logging
LOG_LEVEL=info
